@page
@model 			IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="d-flex justify-content-between align-items-center">
    <h1 class="h2">Project List</h1>
    <div>
        <a asp-page="./Create" class="btn btn-primary btn-sm">Create Project</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].IsDisabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].DeletedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Project) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDisabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-sm btn-info" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-sm btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
